/****
.contact-main {
    height: 500px;
    width: 100%;
    margin-top: 110px;
    margin-left: 20px;
}
.contact-sec {
    height: 450px;
    width: 800px;
    display: block;
    margin: auto;
}
***/

